//colors
$black: #000000;
$white:#FFFFFF;
$grey-light:#F1F1F1;
$beige:#D3A54A;
$transition-time: 0.3s;
//fonts
$font-roboto: 'Roboto', sans-serif;
$samsung-400:'SamsungOne 40',sans-serif;
$samsung-700:'SamsungOne 700',sans-serif;