
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

.img-responsive.img-width {
  width: 100%
}

.text-center {
  text-align: center
}

.timeline {
  padding: 65px 0;
  background: #000000;
  .timeline__title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    font-size: 46px;
    color:#FFFFFF;
  }
}



.timeline-item {
  padding: 35px 0;
  position: relative
}

.timeline-item::before {
  content: "●";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #e3e3e3;
  color: #162bea;
  font-size: 34px;
  line-height: 220%;
  text-indent: -8px
}

.timeline-item:nth-child(odd) {
  text-align: right;
  padding-right: 135px
}

.timeline-item:nth-child(odd) .timeline-item-img {
  right: 20px
}

.timeline-item:nth-child(odd)::before {
  right: 0
}


.timeline-item:nth-child(even) {
  margin-left: 50%;
  padding-left: 135px
}

.timeline-item:nth-child(even) .timeline-item-img {
  left: 20px
}

.timeline-item:nth-child(even)::before {
  left: -1px
}



.timeline-item-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid #e3e3e3;
  position: absolute
}

.timeline-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.timeline-item p {
  line-height: 1.4;
  margin: 4px 0 0 0;
  color:#fff;
  font-size: 19px;
}

@media(max-width: 767px){
  .timeline {
    .timeline__title{
      font-size: 38px;
    }
  }
  .timeline-item p{
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .timeline-item-img{
    width: 75px;
    height: 75px;
  }
  .timeline {
    padding: 30px 5%;
    .timeline__title{
      font-size: 31px;
    }
  }
  .timeline-item:nth-child(even) {
    margin-left: 0;
    padding-left: 110px;
  }
  .timeline-item:nth-child(odd) {
    text-align: left;
    padding-left: 110px;
    padding-right: 0
  }

  .timeline-item:nth-child(odd) .timeline-item-img {
    left: 20px
  }

  .timeline-item:nth-child(odd)::before {
    left: -1px
  }
}
