//{
//  "parser": "babel-eslint", // По умолчанию eslint не знает, что мы работаем с
//  // babel. Указываем это явно как парсер.
//  "rules": {
//    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
//  },
//  "env": { // Указываем явно где мы работаем с eslint
//    "es6": true,
//    "browser": true
//  },
//  "extends": [
//    "eslint:recommended"
//  ]
//}